var(--color-background) = #fafafa
$color-footer-mobile-1 = darken(var(--color-background), 2%)
$color-footer-mobile-2 = darken(var(--color-background), 10%)
var(--color-background-code) = darken(var(--color-background), 2%)
$color-border = #666
var(--color-scrollbar) = #AAA
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
var(--color-link) = rgba(86, 124, 119, .4)
var(--color-text) = #22272a
var(--color-accent-1) = #cc2a41
var(--color-accent-2) = rgba(86, 124, 119, .8)
var(--color-accent-3) = #666
var(--color-quote) = #cc2a41
var(--highlight) = hexo-config("highlight") || "github"
