var(--color-background) = #1d1f21
$color-footer-mobile-1 = lighten(var(--color-background), 2%)
$color-footer-mobile-2 = lighten(var(--color-background), 10%)
var(--color-background-code) = lighten(var(--color-background), 2%)
$color-border = #908d8d
var(--color-scrollbar) = #999
$color-meta = #908d8d
$color-meta-code = #908d8d
var(--color-link) = rgba(212, 128, 170, 1)
var(--color-text) = #c9cacc
var(--color-accent-3) = #cccccc
var(--color-accent-2) = #eeeeee
var(--color-accent-1) = #2bbc8a
var(--color-quote) = #ccffb6
var(--highlight) = hexo-config("highlight") || "rainbow"
