// by @GabiThume (https://github.com/gabithume)
var(--color-background) = #e2e0de
$color-footer-mobile-1 = darken(var(--color-background), 2%)
$color-footer-mobile-2 = darken(var(--color-background), 10%)
var(--color-background-code) = darken(var(--color-background), 2%)
$color-border = #666
var(--color-scrollbar) = #999
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
var(--color-link) = rgba(43, 188, 138, 1)
var(--color-text) = #363533
var(--color-accent-3) = #666666
var(--color-accent-2) = #111111
var(--color-accent-1) = #d44375
var(--color-quote) = #ab2251
var(--highlight) = hexo-config("highlight") || "github"
